<a href="https://colab.research.google.com/github/afifrizkyandika11551100310/IF6082_NLP/blob/main/23521034_NLP_BERT_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Implementasi BERT dalam Text Classification**

*  IF6082 Natural Language Processing

## **Task 01 :** 

Import Module dan Data

In [24]:
pip install tensorflow_text

Requirement already satisfied: tensorflow_text in /usr/local/lib/python3.7/dist-packages (2.8.1)
Requirement already satisfied: tensorflow-hub>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow_text) (0.12.0)
Requirement already satisfied: tensorflow<2.9,>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow_text) (2.8.0)
Requirement already satisfied: libclang>=9.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (13.0.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (1.43.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (3.10.0.2)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (0.24.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (1.13.3)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (1.15.0)
Requirement already satisfied: flatbuffers>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (2.0)
Requirement already satisfied: gast>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (0.5.3)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (3.3.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (1.1.2)
Requirement already satisfied: tensorboard<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (2.8.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (3.1.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (1.6.3)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (3.17.3)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (1.1.0)
Requirement already satisfied: tf-estimator-nightly==2.8.0.dev2021122109 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (2.8.0.dev2021122109)
Requirement already satisfied: absl-py>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (1.0.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (57.4.0)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (2.8.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (0.2.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.9,>=2.8.0->tensorflow_text) (1.21.5)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow<2.9,>=2.8.0->tensorflow_text) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow<2.9,>=2.8.0->tensorflow_text) (1.5.2)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (1.8.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (3.3.6)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (1.35.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (1.0.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (2.23.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (0.6.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (4.11.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (3.7.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (1.24.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow<2.9,>=2.8.0->tensorflow_text) (3.2.0)

In [25]:
pip install Sastrawi

Requirement already satisfied: Sastrawi in /usr/local/lib/python3.7/dist-packages (1.0.1)

In [26]:
pip install swifter

Requirement already satisfied: swifter in /usr/local/lib/python3.7/dist-packages (1.1.2)
Requirement already satisfied: parso>0.4.0 in /usr/local/lib/python3.7/dist-packages (from swifter) (0.8.3)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from swifter) (1.3.5)
Requirement already satisfied: psutil>=5.6.6 in /usr/local/lib/python3.7/dist-packages (from swifter) (5.9.0)
Requirement already satisfied: tqdm>=4.33.0 in /usr/local/lib/python3.7/dist-packages (from swifter) (4.62.3)
Requirement already satisfied: dask[dataframe]>=2.10.0 in /usr/local/lib/python3.7/dist-packages (from swifter) (2.12.0)
Requirement already satisfied: cloudpickle>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from swifter) (1.3.0)
Requirement already satisfied: bleach>=3.1.1 in /usr/local/lib/python3.7/dist-packages (from swifter) (4.1.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from swifter) (7.6.5)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach>=3.1.1->swifter) (0.5.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from bleach>=3.1.1->swifter) (1.15.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach>=3.1.1->swifter) (21.3)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]>=2.10.0->swifter) (1.2.0)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]>=2.10.0->swifter) (1.21.5)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]>=2.10.0->swifter) (2022.1.0)
Requirement already satisfied: toolz>=0.7.3 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]>=2.10.0->swifter) (0.11.2)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->swifter) (3.5.2)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->swifter) (0.2.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->swifter) (5.1.3)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->swifter) (5.1.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->swifter) (4.10.1)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->swifter) (5.5.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->swifter) (1.0.2)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->swifter) (5.3.5)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->swifter) (5.1.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (1.0.18)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (2.6.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (0.8.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (57.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (0.7.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (4.8.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->swifter) (4.9.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->swifter) (4.3.3)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->swifter) (3.10.0.2)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->swifter) (21.4.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->swifter) (4.11.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->swifter) (0.18.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->swifter) (5.4.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->swifter) (3.7.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->swifter) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->swifter) (2018.9)
Requirement already satisfied: locket in /usr/local/lib/python3.7/dist-packages (from partd>=0.3.10->dask[dataframe]>=2.10.0->swifter) (0.2.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (5.3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (2.11.3)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (5.6.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (1.8.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.13.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->swifter) (22.3.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (2.0.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (1.5.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.4)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->swifter) (0.5.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->bleach>=3.1.1->swifter) (3.0.7)

In [27]:
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text
import pandas as pd
from sklearn.model_selection import train_test_split
import re
import numpy as np
import ast
from sklearn.metrics import confusion_matrix , classification_report
from sklearn.metrics.pairwise import cosine_similarity
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
import swifter
from gensim.utils import simple_preprocess
import nltk
from nltk.corpus import stopwords

In [28]:
# Data Training 

df_train = pd.read_csv('train.csv', index_col=[0])
df_train

                                                  text_a label
0      betewe buka twitter cuman ngetweet liat home b...    no
1      mas piyuuu mugo2 corona tuh mulut tersumpal ma...    no
2      e100ss gini buka informasi sejelas nya identit...   yes
3      neng solo wes ono terduga corona cobo neng ati...    no
4      midiahn nii akun gak takut takut nya isu coron...    no
...                                                  ...   ...
21596  depok panas ga karuan kereta sampe pasming huj...    no
21597  oxfara arie kriting yg lebi goblo nya orang ke...    no
21598  virus corona menyaba depok cuci tangan makan n...    no
21599  mata sipit tinggal depok udah abis dah bahan c...    no
21600       i ak batuk pilek pusing demam anjir ak depok    no

[21601 rows x 2 columns]

In [29]:
# Data Testing

df_test = pd.read_csv('test.csv')
df_test

                                                 text_a label
0                               jek dajal ga depok bang    no
1     detikcom untung depok masuk wilayah nya ridwan...    no
2     df dom jakarta depok yg gunain vc cabang nya c...    no
3                                     your2rl depok jkt    no
4     doakan indonesia selamat virus corona pkb depo...   yes
...                                                 ...   ...
2795  ku tenang2 bae ku sih ya corona nya ga depok k...    no
2796  guru hati hati ya virus corona uda indonesia t...   yes
2797  4 terawan menyebut virus corona indonesia terd...   yes
2798        realffk buhari can t pronounce corona virus    no
2799  hadapi wabah corona pemuda muhammadiyah pemeri...   yes

[2800 rows x 2 columns]

## **Task 02 :**

Exploratory Data Analysis

In [30]:
df_train.groupby('label').describe()

      text_a
       count unique                         top freq
label
no     15512  11732        sensus penduduk 2020    4
yes     6089   4617  hoax berjemur lawan corona    5

In [31]:
df_yes = df_train[df_train['label']=='yes']

df_no = df_train[df_train['label']=='no']

print("yes Dataset Shape:", df_yes.shape)

print("no Dataset Shape:", df_no.shape)

yes Dataset Shape: (6089, 2)
no Dataset Shape: (15512, 2)

In [32]:
df_no_downsampled = df_no.sample(df_yes.shape[0])
df_no_downsampled.shape

(6089, 2)

In [33]:
df_train = pd.concat([df_yes , df_no_downsampled])

In [34]:
df_train['label'].value_counts()

yes    6089
no     6089
Name: label, dtype: int64

## **Task 03 :** 

Preprocessing

Preprocessing terdapat beberapa tahap dengan implementasi sebagai berikut

### **3.1 Preprocessing label Data Training dan Testing**

In [35]:
# Preprocessing label data training

df_train['label']=df_train['label'].apply(lambda x: 1 if x=='yes' else 0)
df_train

                                                  text_a  label
2      e100ss gini buka informasi sejelas nya identit...      1
7                 jokowi menteri2 nya silakan tes corona      1
8      pencegahan corona other moms minum multivitami...      1
11     kemenkesri mohon yg transparan mudah spt utk d...      1
18     jateng jatim jakarta siaga corona info disebar...      1
...                                                  ...    ...
2260   gak masuk kerja pala pusing banget berat kek m...      0
10032  melaporkan dokter terawan perbuatan menyenangk...      0
19459  kvmbangsat cnnindonesia menkes sembuh ko g kha...      0
6233   mood edit laptop dihalaman rumah karna ikutin ...      0
19635                              jaemcna depok jaeminn      0

[12178 rows x 2 columns]

In [36]:
# Preprocessing data testing

df_test['label']=df_test['label'].apply(lambda x: 1 if x=='yes' else 0)
df_test

                                                 text_a  label
0                               jek dajal ga depok bang      0
1     detikcom untung depok masuk wilayah nya ridwan...      0
2     df dom jakarta depok yg gunain vc cabang nya c...      0
3                                     your2rl depok jkt      0
4     doakan indonesia selamat virus corona pkb depo...      1
...                                                 ...    ...
2795  ku tenang2 bae ku sih ya corona nya ga depok k...      0
2796  guru hati hati ya virus corona uda indonesia t...      1
2797  4 terawan menyebut virus corona indonesia terd...      1
2798        realffk buhari can t pronounce corona virus      0
2799  hadapi wabah corona pemuda muhammadiyah pemeri...      1

[2800 rows x 2 columns]

### **3.2 Preprocessing Text Data Training**

In [37]:
# Remove Special Character

replace_puncts = {'`': "'", '′': "'", '“':'"', '”': '"', '‘': "'"}

strip_chars = [',', '.', '"', ':', ')', '(', '-', '|', ';', "'", '[', ']', '>', '=', '+', '\\', '•',  '~', '@', 
 '·', '_', '{', '}', '©', '^', '®', '`',  '<', '→', '°', '€', '™', '›',  '♥', '←', '×', '§', '″', '′', 'Â', '█', '½', 'à', '…', 
 '“', '★', '”', '–', '●', 'â', '►', '−', '¢', '²', '¬', '░', '¶', '↑', '±', '¿', '▾', '═', '¦', '║', '―', '¥', '▓', '—', '‹', '─', 
 '▒', '：', '¼', '⊕', '▼', '▪', '†', '■', '’', '▀', '¨', '▄', '♫', '☆', 'é', '¯', '♦', '¤', '▲', 'è', '¸', '¾', 'Ã', '⋅', '‘', '∞', 
 '∙', '）', '↓', '、', '│', '（', '»', '，', '♪', '╩', '╚', '³', '・', '╦', '╣', '╔', '╗', '▬', '❤', 'ï', 'Ø', '¹', '≤', '‡', '√', ]

puncts = ['!', '?', '$', '&', '/', '%', '#', '*','£']

def clean_str(x):
    x = str(x)
    
    x = x.lower()
    
    x = re.sub(r"(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,})", "url", x)
    
    for k, v in replace_puncts.items():
        x = x.replace(k, f' {v} ')
        
    for punct in strip_chars:
        x = x.replace(punct, ' ') 
    
    for punct in puncts:
        x = x.replace(punct, f' {punct} ')
        
    x = x.replace(" '", " ")
    x = x.replace("' ", " ")
        
    return x

df_train['text_a'] = df_train['text_a'].apply(clean_str)
df_train['text_a'].head(10)

2     e100ss gini buka informasi sejelas nya identit...
7                jokowi menteri2 nya silakan tes corona
8     pencegahan corona other moms minum multivitami...
11    kemenkesri mohon yg transparan mudah spt utk d...
18    jateng jatim jakarta siaga corona info disebar...
22             prabndriapsari corona penulara nya cepat
27    dhonipusing rumah sakit daftar peserta simulas...
29    jimanah dikriminalisasi aja nih virus corona m...
31    skrinews dr pingkan pijoh mphm dk satgas covid...
32       tangkal corona prancis tutup toko restoran bar
Name: text_a, dtype: object

In [38]:
# Apply Case Folding

df_train['text_a'] = [line.lower() for line in df_train['text_a']]
df_train['text_a'].head(10)

2     e100ss gini buka informasi sejelas nya identit...
7                jokowi menteri2 nya silakan tes corona
8     pencegahan corona other moms minum multivitami...
11    kemenkesri mohon yg transparan mudah spt utk d...
18    jateng jatim jakarta siaga corona info disebar...
22             prabndriapsari corona penulara nya cepat
27    dhonipusing rumah sakit daftar peserta simulas...
29    jimanah dikriminalisasi aja nih virus corona m...
31    skrinews dr pingkan pijoh mphm dk satgas covid...
32       tangkal corona prancis tutup toko restoran bar
Name: text_a, dtype: object

In [39]:
## Stopword Removal

nltk.download('stopwords')
stop = stopwords.words('indonesian')

with tf.device('/device:GPU:0'):  
  df_train['text_a'].apply(lambda x: [item for item in x if item not in stop])
print(df_train['text_a'].head(10))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
2     e100ss gini buka informasi sejelas nya identit...
7                jokowi menteri2 nya silakan tes corona
8     pencegahan corona other moms minum multivitami...
11    kemenkesri mohon yg transparan mudah spt utk d...
18    jateng jatim jakarta siaga corona info disebar...
22             prabndriapsari corona penulara nya cepat
27    dhonipusing rumah sakit daftar peserta simulas...
29    jimanah dikriminalisasi aja nih virus corona m...
31    skrinews dr pingkan pijoh mphm dk satgas covid...
32       tangkal corona prancis tutup toko restoran bar
Name: text_a, dtype: object

In [40]:
## Tokenozation

df_train['tokenized_text'] = [simple_preprocess(line, deacc=True) for line in df_train['text_a']] 
print(df_train['tokenized_text'].head(10))

2     [ss, gini, buka, informasi, sejelas, nya, iden...
7          [jokowi, menteri, nya, silakan, tes, corona]
8     [pencegahan, corona, other, moms, minum, multi...
11    [kemenkesri, mohon, yg, transparan, mudah, spt...
18    [jateng, jatim, jakarta, siaga, corona, info, ...
22       [prabndriapsari, corona, penulara, nya, cepat]
27    [dhonipusing, rumah, sakit, daftar, peserta, s...
29    [jimanah, dikriminalisasi, aja, nih, virus, co...
31    [skrinews, dr, pingkan, pijoh, mphm, dk, satga...
32    [tangkal, corona, prancis, tutup, toko, restor...
Name: tokenized_text, dtype: object

In [41]:
# Data Testing 
df_test['text_a'] = df_test['text_a'].apply(clean_str)

In [42]:
df_test['text_a'] = [line.lower() for line in df_test['text_a']]

In [43]:
with tf.device('/device:GPU:0'):  
  df_test['text_a'].apply(lambda x: [item for item in x if item not in stop])

In [44]:
df_test['text_a'] = [simple_preprocess(line, deacc=True) for line in df_test['text_a']]

### **3.3 Text Normalization Data Training**

In [47]:
df_train.head(2)

                                              text_a  ...                                     tokenized_text
2  e100ss gini buka informasi sejelas nya identit...  ...  [ss, gini, buka, informasi, sejelas, nya, iden...
7             jokowi menteri2 nya silakan tes corona  ...       [jokowi, menteri, nya, silakan, tes, corona]

[2 rows x 3 columns]

In [48]:
kamus_normalisasi = pd.read_csv('kamus_normalisasi.csv')
kamus_normalisasi

      kata_tidak_baku      kata_baku
0                 krn         karena
1               sampe         sampai
2               serem          seram
3                 met        selamat
4                 dri           dari
...               ...            ...
15445        gataunya  enggak taunya
15446            gtau     enggak tau
15447           gatau     enggak tau
15448           fans2        fan-fan
15449         gaharus   enggak harus

[15450 rows x 2 columns]

In [49]:
normalizad_dict = {}

def normalized_term(document):
    return [normalizad_dict[term] if term in normalizad_dict else term for term in document]

df_train['text_normal'] = df_train['tokenized_text'].apply(normalized_term)

In [50]:
df_train.head()

                                               text_a  ...                                        text_normal
2   e100ss gini buka informasi sejelas nya identit...  ...  [ss, gini, buka, informasi, sejelas, nya, iden...
7              jokowi menteri2 nya silakan tes corona  ...       [jokowi, menteri, nya, silakan, tes, corona]
8   pencegahan corona other moms minum multivitami...  ...  [pencegahan, corona, other, moms, minum, multi...
11  kemenkesri mohon yg transparan mudah spt utk d...  ...  [kemenkesri, mohon, yg, transparan, mudah, spt...
18  jateng jatim jakarta siaga corona info disebar...  ...  [jateng, jatim, jakarta, siaga, corona, info, ...

[5 rows x 4 columns]

In [51]:
# data testing
df_test['text_a'] = df_test['text_a'].apply(normalized_term)

In [52]:
df_test.head()

                                              text_a  label
0                      [jek, dajal, ga, depok, bang]      0
1  [detikcom, untung, depok, masuk, wilayah, nya,...      0
2  [df, dom, jakarta, depok, yg, gunain, vc, caba...      0
3                             [your, rl, depok, jkt]      0
4  [doakan, indonesia, selamat, virus, corona, pk...      1

### **3.5 Stemming Bahasa Indonesia**

In [22]:
#print(df_train['text_normal'].head(10))

In [23]:
#factory = StemmerFactory()
#stemmer = factory.create_stemmer()

In [24]:
#def stemmed_wrapper(term):
#    return stemmer.stem(term)

#term_dict = {}

#for document in df_train['text_normal']:
#    for term in document:
#        if term not in term_dict:
#           term_dict[term] = ' '

In [25]:
#print(len(term_dict))

In [26]:
#for term in term_dict:
#    term_dict[term] = stemmed_wrapper(term)
#    print(term,":" ,term_dict[term])

### **3.6 Input Preparation**

In [53]:
df_train.drop(columns = ['text_a', 'tokenized_text'], inplace = True)

In [54]:
def join_text_list(texts):
    #texts = ast.literal_eval(texts)
    return ' '.join([text for text in texts])

df_train["text_join"] = df_train["text_normal"].apply(join_text_list)

df_train.head()

    label  ...                                          text_join
2       1  ...  ss gini buka informasi sejelas nya identitas d...
7       1  ...              jokowi menteri nya silakan tes corona
8       1  ...  pencegahan corona other moms minum multivitami...
11      1  ...  kemenkesri mohon yg transparan mudah spt utk d...
18      1  ...  jateng jatim jakarta siaga corona info disebar...

[5 rows x 3 columns]

In [55]:
df_train.drop(columns = ['text_normal'], inplace = True)

In [56]:
# Data Testing 
df_test["text_a"] = df_test["text_a"].apply(join_text_list)
df_test.head()

                                              text_a  label
0                            jek dajal ga depok bang      0
1  detikcom untung depok masuk wilayah nya ridwan...      0
2  df dom jakarta depok yg gunain vc cabang nya c...      0
3                                  your rl depok jkt      0
4  doakan indonesia selamat virus corona pkb depo...      1

## **Task 04 :**

Modelling

### **4.1 Split Data Training and Testing**

In [57]:
df_train.shape

(12178, 2)

In [58]:
X_train, X_test, y_train, y_test = train_test_split(df_train['text_join'],df_train['label'], stratify=df_train['label'])

In [59]:
X_train.head()

7007     dedeags ustadtengkuzul adampena bos mpr pembua...
11027    lhokseumawe perintahkan dinas terkait petugas ...
6954     basmi hoax ujaran kebencian terciptanya pilkad...
4628              podoradong substansiny penyebaran corona
20120    terindikasi corona depok menkes difteri takut ...
Name: text_join, dtype: object

### **4.2 BERT processing**

In [60]:
bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")

In [61]:
# testing similarity

def get_sentence_embeding(sentences):
    preprocessed_text = bert_preprocess(sentences)
    return bert_encoder(preprocessed_text)['pooled_output']

get_sentence_embeding([
    "sakit", 
    "tertular"]
)

<tf.Tensor: shape=(2, 768), dtype=float32, numpy=
array([[-0.8737807 , -0.30251956, -0.02387387, ...,  0.00919212,
        -0.6210364 ,  0.8355628 ],
       [-0.8979806 , -0.19139743,  0.11907375, ..., -0.06637471,
        -0.5994425 ,  0.8543701 ]], dtype=float32)>

In [62]:
e = get_sentence_embeding([
    "sakit", 
    "sehat",
    "penyakit",
]
)

cosine_similarity([e[0]],[e[2]])

array([[0.8428337]], dtype=float32)

### **4.3 Create Model**

In [68]:
# BERT LAYER
text_input = tf.keras.layers.Input(shape=(), dtype=tf.string, name='text')
preprocessed_text = bert_preprocess(text_input)
outputs = bert_encoder(preprocessed_text)


# NEURAL NETWORK LAYER
l = tf.keras.layers.Dropout(0.1, name="dropout")(outputs['pooled_output'])
l = tf.keras.layers.Dense(1, activation='sigmoid', name="output")(l)


# FINAL MODEL
model = tf.keras.Model(inputs=[text_input], outputs = [l])

In [69]:
model.summary()

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 text (InputLayer)              [(None,)]            0           []

 keras_layer (KerasLayer)       {'input_word_ids':   0           ['text[0][0]']
                                (None, 128),
                                 'input_mask': (Non
                                e, 128),
                                 'input_type_ids':
                                (None, 128)}

 keras_layer_1 (KerasLayer)     {'encoder_outputs':  109482241   ['keras_layer[1][0]',
                                 [(None, 128, 768),               'keras_layer[1][1]',
                                 (None, 128, 768),                'keras_layer[1][2]']
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768),
                                 (None, 128, 768)],
                                 'sequence_output':
                                 (None, 128, 768),
                                 'pooled_output': (
                                None, 768),
                                 'default': (None,
                                768)}

 dropout (Dropout)              (None, 768)          0           ['keras_layer_1[1][13]']

 output (Dense)                 (None, 1)            769         ['dropout[0][0]']

==================================================================================================
Total params: 109,483,010
Trainable params: 769
Non-trainable params: 109,482,241
__________________________________________________________________________________________________

### **4.4 Training Model**

In [70]:
len(X_train)

9133

In [71]:
METRICS = [
      tf.keras.metrics.BinaryAccuracy(name='accuracy'),
      tf.keras.metrics.Precision(name='precision'),
      tf.keras.metrics.Recall(name='recall')
]

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=METRICS)

In [72]:
model.fit(X_train, y_train, epochs=20, batch_size = 128)

Epoch 1/20
72/72 [==============================] - 237s 3s/step - loss: 0.6769 - accuracy: 0.5741 - precision: 0.5706 - recall: 0.5983
Epoch 2/20
72/72 [==============================] - 222s 3s/step - loss: 0.6559 - accuracy: 0.6121 - precision: 0.6092 - recall: 0.6248
Epoch 3/20
72/72 [==============================] - 223s 3s/step - loss: 0.6408 - accuracy: 0.6378 - precision: 0.6311 - recall: 0.6632
Epoch 4/20
72/72 [==============================] - 224s 3s/step - loss: 0.6279 - accuracy: 0.6542 - precision: 0.6482 - recall: 0.6743
Epoch 5/20
72/72 [==============================] - 225s 3s/step - loss: 0.6261 - accuracy: 0.6494 - precision: 0.6414 - recall: 0.6776
Epoch 6/20
72/72 [==============================] - 224s 3s/step - loss: 0.6158 - accuracy: 0.6666 - precision: 0.6611 - recall: 0.6835
Epoch 7/20
72/72 [==============================] - 222s 3s/step - loss: 0.6096 - accuracy: 0.6700 - precision: 0.6611 - recall: 0.6975
Epoch 8/20
72/72 [==============================] - 224s 3s/step - loss: 0.6046 - accuracy: 0.6723 - precision: 0.6650 - recall: 0.6943
Epoch 9/20
72/72 [==============================] - 223s 3s/step - loss: 0.6014 - accuracy: 0.6763 - precision: 0.6686 - recall: 0.6993
Epoch 10/20
72/72 [==============================] - 223s 3s/step - loss: 0.6012 - accuracy: 0.6780 - precision: 0.6696 - recall: 0.7026
Epoch 11/20
72/72 [==============================] - 223s 3s/step - loss: 0.5963 - accuracy: 0.6893 - precision: 0.6829 - recall: 0.7065
Epoch 12/20
72/72 [==============================] - 224s 3s/step - loss: 0.5977 - accuracy: 0.6843 - precision: 0.6732 - recall: 0.7164
Epoch 13/20
72/72 [==============================] - 221s 3s/step - loss: 0.5950 - accuracy: 0.6847 - precision: 0.6772 - recall: 0.7057
Epoch 14/20
72/72 [==============================] - 221s 3s/step - loss: 0.5870 - accuracy: 0.6923 - precision: 0.6801 - recall: 0.7260
Epoch 15/20
72/72 [==============================] - 222s 3s/step - loss: 0.5863 - accuracy: 0.6958 - precision: 0.6878 - recall: 0.7170
Epoch 16/20
72/72 [==============================] - 222s 3s/step - loss: 0.5856 - accuracy: 0.6910 - precision: 0.6828 - recall: 0.7133
Epoch 17/20
72/72 [==============================] - 222s 3s/step - loss: 0.5825 - accuracy: 0.6947 - precision: 0.6879 - recall: 0.7127
Epoch 18/20
72/72 [==============================] - 221s 3s/step - loss: 0.5779 - accuracy: 0.6970 - precision: 0.6913 - recall: 0.7120
Epoch 19/20
72/72 [==============================] - 221s 3s/step - loss: 0.5793 - accuracy: 0.6987 - precision: 0.6910 - recall: 0.7186
Epoch 20/20
72/72 [==============================] - 223s 3s/step - loss: 0.5769 - accuracy: 0.7013 - precision: 0.6916 - recall: 0.7265

### **4.5 Model Evaluation**

In [73]:
model.evaluate(X_test, y_test)

96/96 [==============================] - 67s 686ms/step - loss: 0.5608 - accuracy: 0.7182 - precision: 0.7149 - recall: 0.7262

[0.5607748031616211,
 0.7182266116142273,
 0.7149321436882019,
 0.7261983156204224]

### **4.6 Model Prediction**

In [75]:
df_test.head()

                                              text_a  label
0                            jek dajal ga depok bang      0
1  detikcom untung depok masuk wilayah nya ridwan...      0
2  df dom jakarta depok yg gunain vc cabang nya c...      0
3                                  your rl depok jkt      0
4  doakan indonesia selamat virus corona pkb depo...      1

In [76]:
y_pred = model.predict(df_test['text_a'])
output = np.where(y_pred>0.5,1, 0)
output

array([[0],
       [1],
       [1],
       ...,
       [1],
       [0],
       [1]])

In [77]:
df_hasil = df_test
df_hasil['predicted'] = output
df_hasil.head()

                                              text_a  label  predicted
0                            jek dajal ga depok bang      0          0
1  detikcom untung depok masuk wilayah nya ridwan...      0          1
2  df dom jakarta depok yg gunain vc cabang nya c...      0          1
3                                  your rl depok jkt      0          0
4  doakan indonesia selamat virus corona pkb depo...      1          1

In [78]:
df_hasil.tail()

                                                 text_a  label  predicted
2795  ku tenang bae ku sih ya corona nya ga depok ku...      0          0
2796  guru hati hati ya virus corona uda indonesia t...      1          1
2797  terawan menyebut virus corona indonesia terdet...      1          1
2798          realffk buhari can pronounce corona virus      0          0
2799  hadapi wabah corona pemuda muhammadiyah pemeri...      1          1

In [79]:
print(classification_report(df_test['label'] , output))

              precision    recall  f1-score   support

           0       0.87      0.74      0.80      2093
           1       0.46      0.67      0.55       707

    accuracy                           0.72      2800
   macro avg       0.67      0.70      0.67      2800
weighted avg       0.77      0.72      0.73      2800